# GitHub
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx
GITHUB_TARGET_REPOS=fastapi/fastapi,pydantic/pydantic,pola-rs/polars,duckdb/duckdb,encode/httpx

# DuckDB
DUCKDB_PATH=data/warehouse/repolytics.duckdb

# Paths
RAW_DATA_PATH=data/raw
WATERMARKS_PATH=data/raw/.watermarks.json

# Airflow
AIRFLOW_HOME=orchestration
AIRFLOW__CORE__DAGS_FOLDER=orchestration/dags
AIRFLOW__CORE__LOAD_EXAMPLES=false

# dbt
DBT_PROJECT_DIR=dbt
DBT_PROFILES_DIR=dbt
